/* 
    COLOUR PALETTE
    night:            #182222;
    dark-slate-gray:  #405B5B;
    french-gray:      #e2dfe7;

    FONT FAMILIES
    Halant and Oswald
*/

body {
    font-family: 'Halant', serif;
}